<div class="main">
  <header class="header">
    <!-- <div class="headerElements"> -->
    <span class="home" routerLink="">• Bandz •</span>
    <!-- <div class="userIsLogged" *ngIf="userIsLogged">
      <img src="/assets/user/user-on.svg" alt="" /> User is Logged
    </div> -->
    <!-- <div class="signOut" *ngIf="userIsLogged" (click)="signOutCurrentUser()">
      Sign out
    </div> -->
    <span class="links">
      <div class="loggedInAndOut">
        <div class="logged" *ngIf="userIsLogged" (click)="signOutCurrentUser()">
          Sign out
        </div>
        <div class="logged" *ngIf="userIsLogged">
          <img class="imageUser" src="/assets/user/user1.svg" alt="" />
        </div>
      </div>
      <a class="link" routerLink="songs" routerLinkActive="active">Songs</a>
      <a class="link" routerLink="contact" routerLinkActive="active">Contact</a>
    </span>
    <!-- </div> -->
  </header>
  <div class="body">
    <router-outlet> </router-outlet>
  </div>
  <footer class="footer">&copy; Copyright 2022. Cosmin Ciuta.</footer>
</div>
