<ng-container *ngIf="song; else noData">
  <div class="goToDetailsButton">
    <button [routerLink]="'/songs/' + songId" (click)="goToPreviousTrack(song)">
      <
    </button>
    <button [routerLink]="'/songs/' + songId" (click)="goToNextTrack(song)">
      >
    </button>
  </div>
  <div class="artistDetails">
    <h1 class="artistName">
      {{ song.artist }}
    </h1>
    <h2 class="artistTitle">
      {{ song.title }}
    </h2>
    <h1>-</h1>
    <h3 class="artistAlbum">
      {{ song.album }}
    </h3>
  </div>
  <section>
    <div class="container">
      <div class="carousel">
        <input
          *ngFor="let image of song.images; let i = index"
          type="radio"
          name="slides"
          [checked]="i === 0 ? 'checked' : ''"
          [id]="'slide-' + i + 1"
        />
        <input type="radio" name="slides" id="slide-2" />
        <input type="radio" name="slides" id="slide-3" />
        <input type="radio" name="slides" id="slide-4" />
        <input type="radio" name="slides" id="slide-5" />
        <input type="radio" name="slides" id="slide-6" />
        <ul class="carousel__slides">
          <li *ngFor="let image of song.images" class="carousel__slide">
            <figure>
              <div>
                <img [src]="image" alt="" class="artistColdplay" />
              </div>
            </figure>
          </li>
        </ul>
        <ul class="carousel__thumbnails">
          <li *ngFor="let image of song.images; let i = index">
            <label [for]="'slide-' + i + 1"><img [src]="image" /></label>
          </li>
        </ul>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #noData>No details found.</ng-template>
