<div class="container">
  <input type="radio" name="slider" id="item-1" checked />
  <input type="radio" name="slider" id="item-2" />
  <input type="radio" name="slider" id="item-3" />
  <div class="cards">
    <label class="card" for="item-1" id="song-1">
      <img src="../../assets/img/home/coldplay.jpeg" alt="song" />
    </label>
    <label class="card" for="item-2" id="song-2">
      <img src="../../assets/img/home/bowie.jpeg" alt="song" />
    </label>
    <label class="card" for="item-3" id="song-3">
      <img src="../../assets/img/home/disclosure.jpeg" alt="song" />
    </label>
  </div>
  <div class="player">
    <div class="upper-part">
      <div class="play-icon">
        <svg
          width="20"
          height="20"
          fill="#2992dc"
          stroke="#2992dc"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-play"
          viewBox="0 0 24 24"
        >
          <defs />
          <path d="M5 3l14 9-14 9V3z" />
        </svg>
      </div>
      <div class="info-area" id="test">
        <label class="song-info" id="song-info-1">
          <div class="title">Coldplay</div>
          <div class="sub-line">
            <div class="subtitle">A Sky Full Of Stars</div>
            <div class="time">4:13</div>
          </div>
        </label>
        <label class="song-info" id="song-info-2">
          <div class="title">David Bowie</div>
          <div class="sub-line">
            <div class="subtitle">Heroes</div>
            <div class="time">6:06</div>
          </div>
        </label>
        <label class="song-info" id="song-info-3">
          <div class="title">Disclosure</div>
          <div class="sub-line">
            <div class="subtitle">Help Me Lose My Mind (Mazde Remix)</div>
            <div class="time">3:57</div>
          </div>
        </label>
      </div>
    </div>
    <div class="progress-bar">
      <span class="progress"></span>
    </div>
  </div>
</div>
